<!DOCTYPE html>
<html>

<head>
	<div class="nav">
		<a href="/users">Users</a>
		<a href="/authors">Authors</a>
		<a href="/companies">Companies</a>
		<a href="/mangas">Mangas</a>
		<a href="/chapters">Chapters</a>
		<a href="/categories">Categories</a>
		<a href="/carousels">Carousels</a>
	</div>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1>
		<%= title %>
	</h1>
	<p>
		<%= subtitle %>
	</p>
</body>

</html>